* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  padding: 2rem;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.todo-list {
  margin-top: 5px;
  border-radius: 10px;
}

.todo-list-item {
  list-style: none;
  display: flex;
  gap: 10px;
}

.completed {
  text-decoration: line-through;
}
