* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  padding: 2rem;
}

.todo-list {
  padding: 2rem;
  margin-top: 5px;
  border-radius: 10px;
}

.todo-list-item {
  list-style: none;
  display: flex;
  gap: 10px;
}
